# Ignore Everything
*

# But not:
!*.cpp
!*.c
!*.hpp
!*.h
!*.cu
!*.sh
!*.run
!*.md
!*.txt
!*.yml
!*.yaml
!*.cfg
!.gitignore
!.dockerignore
!.gitmodules
!CMakeLists.txt
!Dockerfile
!*.Dockerfile
# Or directories
!*/
.idea
